body{
	 background-image: url(https://st3.depositphotos.com/8207706/32478/v/950/depositphotos_324783446-stock-illustration-illustration-digital-art.jpg);
  font-size: 24px;
  font-family: comic sans MS;
color: darkblue;
	  text-align:center;
}
element.style {
}
html {
scroll-behavior: smooth;
    font-size: 60px;
}
	
	html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;}
		
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


element.style {
}
html {
	scroll-behavior: smooth;}

html {

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	color: black;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
    display: block;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
	
element.style {
}
html {
    scroll-behavior: smooth;
}
html {
    font-size: 10px;

}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
	display: block;}
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;}
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;}
#1{
	font-size:80;
}

}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
}
img {
  width: 500px;
  padding: 4px;
  border-width:2px;
  border-style:dashed;
  margin-right: 20px;
  
}

#title{
	font-size: 61;
	text-align:center;
}

}

#bio{
	text-align: left;
}

#achivements{
	text-align: left;
}
#events{
	text-align: left;
}
#contacts{
	text-align: left;

}
html {
    font-size: 10px;
    
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;#1{
		
	}
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#1{
height="55";
	width: "55";
}
.movie_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}

.movie_head i {
	float: right;
	color: darkslateblue;

}

.movie_text span {
	color: darkblue;}

.text-muted text-left{
	color: darkblue;
}
#contacts{
table-layout: fixed;
text-shadow: none;

}
.p_modal {
	margin-top: 10px;}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
@media (min-width: 768px)
.col-sm-12 {
    width: 100%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#footer{
	height:20px;
	background-color: white;
}
	